@use "global";

.root {
  border: 2px solid global.$light1;
  border-radius: 1em;
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: 1fr auto;
  padding: 1em;
}

.icon {
  border-radius: 1000px;
  margin-right: 1em;

  @include global.media(phone) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  @include global.media(tablet) {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }
  @include global.media(desktop) {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }
}

.top {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 1em;
  margin-top: 0.5em;

  @include global.media(phone) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  @include global.media(tablet) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  @include global.media(desktop) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .name {
    font-size: 1.2em;
    @include global.design-font;
    font-weight: bold;
    line-height: 1;
  }

  .linkRoot {
    display: flex;
    align-items: center;
    gap: 0.7em;

    .image {
      width: auto;
      height: auto;
      max-width: 20px;
      max-height: 20px;
      display: block;
    }
  }
}

.detail {
  margin-top: 0.5em;

  @include global.media(phone) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
  @include global.media(tablet) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  @include global.media(desktop) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}
