@use "global";

.root {
  padding: 1rem 0 2rem 0;
}

.back {
  color: global.$light3;
  font-size: 0.75em;
  text-decoration: underline;
}

.share {
  display: flex;
  justify-content: flex-end;
}

.about {
  width: 100%;
  margin-bottom: 2em;
}

.heading {
  margin-top: 1rem;
  padding-left: 1em;
  @include global.design-font;

  .title {
    font-weight: bold;
    font-size: 1.5rem;
  }

  .date {
    color: global.$light3;
    font-size: 0.75em;
  }
}

