@use "global";

.root {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.about {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 4em;
}

.article {
  @include global.media(phone) {
    width: 100%;
  }
  @include global.media(tablet) {
    width: 100%;
  }
  @include global.media(desktop) {
    width: 100%;
  }

  display: flex;
  margin-bottom: 1rem;

  .thumbnail {
    flex-shrink: 0;
    box-sizing: content-box;
  }

  .content {
    padding-left: 1em;
    margin-right: 0.5rem;
    width: 100%;

    .name {
      display: block;
    }

    .date {
      margin-left: auto;
      color: global.$light3;
      font-size: 0.8rem;
    }
  }
}
