@use "global";

.root {
  @include global.page;
  background: global.$light4;
}

.content {
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;

  @include global.media(phone) {
    width: 100%;
  }
  @include global.media(tablet) {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
  @include global.media(desktop) {
    max-width: 960px;
  }
}

.inner {
  width: 100%;
  background-color: global.$light2;
  flex-grow: 1;

  @include global.media(phone) {
    padding: 0 1rem;
  }
  @include global.media(tablet) {
    padding: 0 2rem;
  }
  @include global.media(desktop) {
    padding: 0 2.5rem;
  }
}
