@use "sass:map";

$dark1: #404040;
$light1: #ffa263;
$light2: #ffffff;
$light3: #9c9c9c;
$light4: #f1d072;

@mixin readable-font {
  font-family:
    -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif,
    "Segoe UI Emoji";
  font-display: swap;
  line-height: 1.9;
  font-weight: normal;
}

@mixin design-font {
  font-family:
    -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif,
    "Segoe UI Emoji";
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

$sizes: phone, tablet, desktop;

$breakpoints: (
  "phone": "screen and (max-width: 576px)",
  "tablet": "screen and (min-width: 577px) and (max-width: 992px)",
  "desktop": "screen and (min-width: 993px)"
) !default;

@mixin media($breakpoint: phone) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin full-area {
  width: 100%;
  height: 100%;
}

@mixin page {
  width: 100%;
  min-height: 100vh;
}

@mixin text($base-width: 750px) {
  max-width: $base-width;
  width: calc(100% - 32px);
  margin-left: auto;
  margin-right: auto;
}

@mixin background-image {
  position: fixed;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: top;
}
