@use "node_modules/destyle.css/destyle.css";
@use "global";

html,
body {
  padding: 0;
  margin: 0;
  @include global.readable-font;
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

body {
  @include global.full-area;
  background: global.$light1;
}

a {
  text-decoration: none;
  color: #0e8ed2;
  word-break: break-all;
  cursor: pointer;

  &:hover {
    text-decoration: underline currentColor;
  }

  &:visited {
    color: #537591;
  }
}

* {
  box-sizing: border-box;
}
