@use "node_modules/destyle.css/destyle.css";
@use "global";

html,
body {
  padding: 0;
  margin: 0;
  @include global.readable-font;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
